<!DOCTYPE html>
<html>
<head>
    <!--inline[../../common/page/head.ejs]-->
    <title>椰子金融app下载</title>
    <link rel="stylesheet" type="text/css" href="../static/guide.css?__inline">
</head>
<body>

</head>
<body style="overflow:hidden" scroll="no">
    <div class="beauty">
        <div class="limitIcon">
            <img id="sprinklink" src="../static/image/link.png">
            <img id="icorn" src="../static/image/icon2.png" class="shrinka">
        </div>
        <div id="p01" class="bgpic"></div>
        <div id="p02" class="bgpic"></div>
        <div id="p03" class="bgpic"></div>
        <div id="p04" class="bgpic"></div>
        <div id="p05" class="bgpic"></div>
        <div id="p06" class="bgpic"></div>
        <img id="flower" class="flower" src="../static/image/moneyflower.png">
        <div class="regdiv">
            <img id="register" class="register" src="../static/image/register3.png">
        </div>
        <div class="iosDiv">
            <img id="iosNotReady" class="iosNotReady circleturn turncircle" src="../static/image/iosNotReady.png"  alt="">
        </div>
        <div id="forios"> </div>
        <div id="forandroid"> </div>
    </div>
    <!--inline[../../common/page/foot.ejs]-->
    <script type="text/javascript" src="../static/guide.js"></script>
</body>
</html>